.columns {
    flex: 1;
}

.is-4-full {
    flex: 0 0 33.33333% !important;
}

.is-full-height {
    height: 94vh !important;
    overflow-y: auto;
}

.has-back-button {
    height: 90vh !important;
    overflow-y: auto;
}

.no-radius {
    border-radius: 0 !important;
}